/* CSS declarations go here */
.circle-container {
	padding: 15px;
}

.circle {
	/*border: 10px solid black;*/
	border-radius: 50%;
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 0;
	display: table;
	box-sizing: border-box;
}

.circle-text {
	display: table-cell;
  vertical-align: middle;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.start-img {
	position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
}

.play-text {
	position: absolute;
  margin: 0px;
	font-size: 4em;
	font-family: Impact, Charcoal, sans-serif;

}

/*rotating image on start screen*/
.rotate-center {
	-webkit-animation: rotate-center 30s linear infinite both;
	        animation: rotate-center 30s linear infinite both;
}


/*pulsating text on start*/
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
	        animation: pulsate-fwd 3s ease-in-out infinite both;
}
